{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1268" border="1" class="table table-dark table-striped" >
    <tr>
      <th width="224" height="65" scope="col">NAME</th>
      <th width="133" scope="col">GENDER</th>
      <th width="277" scope="col">ADDRESS</th>
      <th width="177" scope="col">PHONE</th>
      <th width="204" scope="col">E-MAIL</th>
      <th width="91" scope="col">PIN</th>
      <th width="116" scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}

    <tr>
      <td>{{i['FIRSTNAME']}}{{i['LASTNAME']}} </td>
      <td>{{i['GENDER']}}</td>
      <td>{{i['PLACE']}} {{i['POST']}} {{i['PIN']}}</td>
      <td>{{i['PHONE']}}</td>
      <td>{{i['E-MAIL']}}</td>
      <td>{{i['PIN']}}</td>
       {% if i['TYPE'] == 'pending' %}<td>
        <p><a href="accept?id={{i['LID']}}">APPROVE WORKER</a></p>
      <p><a href="reject?id={{i['LID']}}">REJECT WORKER </a></p></td>{% endif %}
        {% if i['TYPE']== 'reject' %}<td>REJECTED</td> {% endif %}
        {% if i['TYPE']== 'worker' %} <td > ACCEPTED</td>


      {% endif %}
    </tr>

    {% endfor %}
  </table>
</form>
</body>
{% endblock %}